<h1 style="text-align:center">About QPC</h1>

<p  style="text-align:center; color:white; margin-left:260px; margin-right:260px">QPC is a Musician, Audio Engineer, Software Developer,
 and local radio personality. QPC has been in several bands including Demolition, Bush hogg,
 and Soul Stalkaz, as well as engineered many albums for local bands. He has also been the 
 music editor for the arrival magazine out of Winston Salem NC, and has since resumed the 
 role of software engineer for the magazine. Through MCing events, and doing video interviews with
 bands and local personalities, QPC has amassed a wide audience of die hards, eager for his eunique
 brand of humor and intelect. Weather it's a discussion about a parallel universe, or pro rasslin,
 or music, or the latest conspiracy theories, his banter is always sure to entertain. QPC started 
 his broadcasting career in 2005 when he started co hosting MOOSES MONSTER METAL show with local DJ
 "Moose". With the addition of QPC, Mooses monster metal show became insanely popular. So popular that the duo 
 started their own podcast in 2013 with QPC taking the role of host with Moose as his side kick.
 After a 9 year run together, Moose needed a break and decided to take a hiatus from broadcasting, 
 leaving QPC to fend for himself. Unsure how to proceed, Q did one show by himself, anouncing that he 
 was looking for guests or a possible co host on that first podcast. He got a huge response of people 
 chomping at the bit to take part in his comical, absurd, and intelectual conversation, and 
 the format of QPC's KICK ASS PODCAST was born.</p> 
