<div style="background-color:black" class="imgbox";>
<div class="align-center img-responsive animated bounceInRight center-fit" style="padding-bottom:20px; margin-left:240px;">
<%= link_to 'home' do %>
    <%= image_tag 'qpcpodcastpng.png',  alt: 'a face that is unnervingly happy'%>
<% end %>
</div>
</div>
